.card.shadow-sm.image-card-container
  img.image-card(
    src=outputImage
    data-output-image=outputImage
    data-style-image=styleImage
    data-content-image=contentImage
    width='100%'
    height='225'
  )
  div.image-card-text= dateCreated